
@{
    ViewData["Title"] = "EnfermeiroView";
}

<html lang="pt-pt">
<head>
    meta charset="UtF-8">
</head>

<body>
    <div class="table table-striped">
        <div class="panel panel-primary"style="margin-top:2ex;">
            <div class="panel-heading">
                <h3 class="panel-title">Registar Enfermeiro</h3>
            </div>
        </div>
    </div>

</body>


</html>

<div class=" "

