@model HospitalSchedule.Models.Nurse_Schedule

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Nurse_Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Nurse_ScheduleID" />
            <div class="form-group">
                <label asp-for="ScheduleFK" class="control-label"></label>
                <input asp-for="ScheduleFK" class="form-control" />
                <span asp-validation-for="ScheduleFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NurseFK" class="control-label"></label>
                <input asp-for="NurseFK" class="form-control" />
                <span asp-validation-for="NurseFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

