@model HospitalSchedule.Models.Rules

@{
    ViewData["Title"] = "Delete Rules";
}

<h2>Delete Rules</h2>

<h3>Are you sure you want to delete these rules?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Weekly Hours
            @*@Html.DisplayNameFor(model => model.WeeklyHours)*@
        </dt>
        <dd>
            
            @Html.DisplayFor(model => model.WeeklyHours)
        </dd>
        <dt>
            Nurse's Age
            @*@Html.DisplayNameFor(model => model.NurseAge)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NurseAge)
        </dd>
        <dt>
            Nurse's Child's Age
            @*@Html.DisplayNameFor(model => model.ChildAge)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChildAge)
        </dd>
        <dt>
            Time Between Shifts
            @*@Html.DisplayNameFor(model => model.InBetweenShiftTime)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InBetweenShiftTime)
        </dd>
    </dl>

    <input type="submit" value="Delete" class="btn btn-warning" onclick="toggle_div_fun('sectiontohide');"/>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>

    <div id="hideablediv" hidden>
        <p></p>
        <h5>Are you really sure you want to delete this?</h5>

        <form asp-action="Delete">
            <input type="hidden" asp-for="RulesId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>


<script type="text/javascript">
    function toggle_div_fun(id) {

        var divelement = document.getElementById('hideablediv');

       
            divelement.style.display = 'block';
        
    }
</script>
