@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The project made in Computer Engineering's courses: "Programação para a Internet" and "Engenharia de Software 2".</p>
<p>Made by:</p>
<p>Bruno Santos Nº1012388</p>
<p>Leonardo Lourenço Nº1012395</p>
<p>Luciano Brido Nº1011881</p>
