@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h3>Hospital Scheduler: Nurses per Operation Blocks</h3>
    <br />
    <br />
</div>


<div class="Logo">
    <h4>A Project made by</h4>
    <hr />
    <div class="image">
        <img src="~/images/BLLlogosmall.png" />
    </div>
    <hr />
    <h5><i>Bruno, Leonardo and Luciano's Hypothetical Company</i></h5>
</div>