@model HospitalSchedule.Models.Exchange_Request

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Exchange_Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Schedule_Exchange1Id" class="control-label"></label>
                <select asp-for="Schedule_Exchange1Id" class ="form-control" asp-items="ViewBag.Schedule_Exchange1Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Schedule_Exchange2Id" class="control-label"></label>
                <select asp-for="Schedule_Exchange2Id" class ="form-control" asp-items="ViewBag.Schedule_Exchange2Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="RequestState" class="control-label"></label>
                <input asp-for="RequestState" class="form-control" />
                <span asp-validation-for="RequestState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_RequestState" class="control-label"></label>
                <input asp-for="Date_RequestState" class="form-control" />
                <span asp-validation-for="Date_RequestState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_Exchange_Request" class="control-label"></label>
                <input asp-for="Date_Exchange_Request" class="form-control" />
                <span asp-validation-for="Date_Exchange_Request" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
