@model HospitalSchedule.Models.Specialty

@{
    ViewData["Title"] = "Delete Speciality";
}

<h2>Delete Speciality</h2>

<h3>Are you sure you want to delete this speciality?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

   <input type="submit" value="Delete" class="btn btn-warning" onclick="toggle_div_fun('sectiontohide');"/>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>

    <div id="hideablediv" hidden>
        <p></p>
        <h5>Are you really sure you want to delete this?</h5>

        <form asp-action="Delete">
            <input type="hidden" asp-for="SpecialtyId" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>


<script type="text/javascript">
    function toggle_div_fun(id) {

        var divelement = document.getElementById('hideablediv');

       
            divelement.style.display = 'block';
        
    }
</script>
