@model HospitalSchedule.Models.Schedule_Exchange2

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Schedule_Exchange2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Schedule.ScheduleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Schedule_Exchange2Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
