@model HospitalSchedule.Models.OperationBlock_Shifts

@{
    ViewData["Title"] = "Operation Block - Shifts ERROR";
}

<h2 style="color:darkred;">Operation Block - Shifts ERROR</h2>
<div>
    <hr />
    <p>@TempData["Error"]</p>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
