@model HospitalSchedule.Models.OperationBlock

@{
    ViewData["Title"] = "Operation Block's Details";
}

<h2>Operation Block's Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Operation Block
            @*@Html.DisplayNameFor(model => model.BlockName)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlockName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.OperationBlockId">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
