@model HospitalSchedule.Models.OperationBlock

@{
    ViewData["Title"] = "OperationBlock ERROR";
}

<h2 style="color:darkred;">Operation Block ERROR</h2>
<div>
    <hr />
    <p>@TempData["Error"]</p>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
