@model HospitalSchedule.Models.Schedule

@{
    ViewData["Title"] = "Schedule ERROR";
}

<h2 style="color:darkred;">Schedule ERROR</h2>
<div>
    <hr />
    <p>@TempData["Error"]</p>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
