@model Schedule
        
@{
    ViewData["Title"] = "ScheduleView";
}

<h2>Schedule View Page</h2>

<!--Add boostrap of responsive table-->
<table id="schedule" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <!--Em thead vão ficar os dias do mês-->
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
        </tr>

        <tr>
            <!--Nurse's names-->
            <td>Ana</td>
            <td>André</td>
        </tr>
        </thead>
    <tbody>
        <tr></tr>

        </tbody>
</table>

